*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Graphik Compact", sans-serif;

}

header{
    font-family: "Graphik Compact", sans-serif;
    display: block;
}

main{
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    
}
main .left {
    text-align: left;
    cursor: pointer;
  }
  
  header .right {
    cursor: pointer;
    text-align: right;
  }
.top{
    display: flex;
    list-style-type: none;
}
#search{
    color: black;
    font-size: 1.7em;
    cursor: pointer;
    
}
.arrow img{
    padding-top:5px;
    width: 17px;
    height: 17px;
}
#default{
    color: black;
}
#dropdown{
    position: relative;
}
.dropdown .dropmenu{

  display: none;
  background-color:black;
  padding: 1rem;
  width: 15rem;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5%;
  position: absolute;

}

.dropdown .dropmenu a{
    text-decoration: none;
    display: block;
    color: rgb(162, 161, 161);
    line-height:24px;
    letter-spacing:normal;
    word-spacing:0px;
    

}

.dropdown:hover .dropmenu{
    display: block;
}
.top li , .navUl li{
    padding:.5rem;
    padding-bottom: 0;
    font-size: 1.3rem;
    color: rgb(144, 143, 143);
    transition:  ease-out 70ms;
}
.top li:hover{
    color: black;

}

nav{
    font-family: "Graphik Compact", sans-serif;
    display: grid;

}
.navUl li:hover{
    color: #000000;
}

.upSide{
    display: flex;
    padding-left: 3rem;
    
    
}
.logo{
    width: 6rem;
    height: 6rem;
    
}
.navUl{
    padding-top: 1.5rem;
    display: flex;
    list-style-type: none;
    padding-left: 20rem;

}

nav a{
    font-family:Graphic, sans-serif;
    background-color: #FFDD33;
    padding: 1rem;
    font-size: 15px;
    cursor: pointer;
    font-weight:400px;
}
nav a span{
    padding-left: 1rem;
    font-weight:bold;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.first-container{
    width: 100;
    padding: 1rem;
    display: grid;
    grid-gap: .5rem;
    height:45rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}
.first-container .first{
    grid-column: 2 span;
    grid-row: 3 span;
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.first-container .second{
    background-image: url(img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 2 span;
}
.first-container .third{

    background-image: url(img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 2 span;
}
.first-container .forth{

    background-image: url(img/image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 2 span;
    grid-column: 2 span;
}
.first-container .fifth{
    grid-column: 2 span;
    grid-row: 3 span;
    background-image: url(img/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;}

    .first-container div>*{
       display: flex;
       flex-direction: column;
       bottom: 0;
       

        
    }
   .first-container h2{
   
    bottom: 0;
    float: left;
    color: #ffff;
    font-size: 2rem;
}
.first-container h4 {
  color: #ffff;
    font-size: 1.3rem;
}

.popular-stories h2{
  font-family: 'Russo One', sans-serif;
   text-align: center;
   font-size: 3rem;
   padding: 2rem;
}
.popular-stories ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    
}

.popular-stories img{
    width: 100%;
}
.popularStories li h3{
    
    padding-top: 1rem;
}

.popular-stories ul{
    width: 100%;
    
}
.popular-stories ul li{

    width: 23.5rem;
    height: 23.5rem;
    padding: 1rem;
    cursor: pointer;  
    
}
.latestNews{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 11rem;
    padding-right: 11rem;
  
    
    
}
.latestNews h1{
  font-size: 3rem;
}
.Allnews{
   
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
   
}
.news{
    display: flex-start;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    
}
.news img{
    width: 100%;
    height: 18rem;
}
.news h2{
   font-size: 1rem;
   color: rgb(140, 139, 139);
   padding-top:1rem;
   padding-bottom:1rem;

}
.news p{
    
    font-size: 1.5rem;
}
.latestNews button{
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 1.5rem;
    color: #fff;
    background-color: #6644FF;
    text-align: center;
    border-radius: 2.5rem;
    border:#6644FF;
    
}
.formSection{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #6644FF;
    width: 100%;
    height: 30rem;
    margin-top: 6rem;
}
.formSection h2{
   font-size: 5rem;
   font-family: 'Russo One', sans-serif;
   font-weight: 800px;
   padding: 2rem;
   
   

}
.formSection p{
    font-size: 1.5rem;
}

.formSection form .input-box{
    background-color: rgba(239, 239, 239, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 2rem;
    margin-top: 2rem;
    width: 52rem;
    border-radius: .5rem;

}
.formSection form .input-box input{
    background-color: transparent;
    border: none;
    width: 100%;
   
    
}

.formSection  form .input-box input::placeholder{
    color: #ffffff;
    opacity:50%;
    font-size: 1.2rem;
}
.formSection .form-img img{
  width: 3rem;
  height: 3rem;
  padding: .5rem;
}
.formSection .checkboxside{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    font-size: 1rem;
}
.formSection .checkboxside p{
    color: #ffffff;
    opacity:50%;
    font-size: 1.2rem;
}
.formSection .checkboxside input{
    font-size: 2rem;
}
.grid img{
    width: 20rem;
    height: 18rem;
}
.grids{
    
    padding: 5rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    
  }
  .grids .head-link{
    padding: 3rem;
    font-family: grafik, sans-serif;
    text-decoration: none;
    color: #000000;
    border-top: 1px solid #d0cfcf;
   
    
  }
  .grids img{
    width: 16px;
    height: 16px;
  }
  .grids .grid {
    display: flex; 
    flex-direction: row;
    padding: 2rem;
  }
  .grid .grid-left{
    display: flex;
    flex-direction: column;
   
  } 
  .grid .grid-left a{
    color: #8d8c8c;
    padding: 0;
  }
  .grid .grid-left p{
    color: #5d5c5c;
  }
  .grid .grid-left h3{
    font-size: 1.7rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .grid .grid-left img{
    padding-bottom: 1.5rem;
    width:50rem ;
    height: 30rem;

  }.grids .grid .grid-right{
    display: flex;
    flex-direction: column;
  }

  .grids .grid .grid-right>*{
    display: flex;
    padding: 1rem;
    flex-direction: row;
  }
  .grid .grid-right div {
    padding: 1rem;
    display: flexbox;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid .grid-right div a {
     text-align: left;
     color: #888888;
     float: left;
     
     
  }
  .grid .grid-right div p{
    text-align: left;
    float: left;
  }
  .grid .grid-right img{
       width: 150px;
       height: 150px;
    
  }
  
  /*grid > *:first-child {
     /* Set the width of the first child to be twice the width of the other items
    grid-column: 3;
    grid-row: 3;
  }
  
  grid > *:not(:first-child) {
    

  }*/

  .videos{
    height: 53.125rem;
    background-color: #efefef;
  }
  .videos div{
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .videos ul li{
    list-style-type: none;


  }
  .videos div .first-video{
    display: flexbox;
    flex-direction: column;
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 62.5rem;
    height: 45.75rem;
  }
  .videos div .first-video h2 {
    color: #fff;
    padding: 2rem;
    text-align: left;
    font-size: 1.5rem;
  }
  .videos div .first-video span{
    color: #8d8c8c;
  }
  .videos div .first-video img{
     width:62.5rem;
     height:35rem ;

  }
  .video-list ul {
    height: 45.75rem;
    overflow-y: auto; 
    
  }
  .videos div .video-list li{
    display: flexbox;
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .videos div .video-list li h2{
    text-align: center;
    font-size: 1rem;
  }
  .videos div .video-list img{
    width: 15rem;
    height: 10rem;
  
  }


  /*---------------------------*/
  .sides .rt-side{
    display:inline-block;
    width: 50%;
    
  }
  .sides .rt-side h3{
    text-align: center;
  }
  .sides .lf-side{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .sides .lf-side{
    font-family: Graphik, sans-serif;
  }

  


.work{
    padding: 7rem;
    display: flex;
    flex-direction:column;
}
.work .sides{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.work .sides .lf-side{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}

.work .sides h5{
  color: #8d8c8c;
  font-size: 1rem;
  padding-bottom: 2rem;
}
.work-header{
  color: #6644FF;
  font-size: 3rem;
  font-family: 'Russo One', sans-serif;
  padding-bottom: 2rem;
}
.work-p{
 font-size: 1.3rem;
 max-width: 80%;
 padding-bottom: 2rem;
 color: #5d5c5c;
}
.work-button{
  background-color: #6644FF;
  color: #ffff;
  border-radius: 5px;
  width: 12rem;
  font-size: 1.5rem;
  border: none;
  padding: 1rem;
}

.work .rt-side{
 display:grid;
 grid-template-columns: repeat(2,1fr);
 grid-template-rows: repeat(2,1fr);
 
}
.work .rt-side ul{
display: flex;
justify-content: center;
align-items: center;

}
.work .rt-side ul img{
  width: 11rem;
  height: 11rem;
  padding: .5rem;
  
  }
.work .rt-side ul h3{
  padding: 1rem;
  font-size: 1.5rem;
}
.work .bottom{
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.work .bottom img{
  cursor: pointer;
  width: 150px;
  height: 150px;
    }

  footer{
    display: flex;
    flex-direction:column;
    background-color: #000000;
    /*height: 550px;*/
  }
  footer .left-bottom-side img{
    width: 50px;
    height: 50px;
  }
 
  .footer-sides{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
  footer ul li{
    padding-bottom: 10px;
  }
  .left-foot{
    display: flex;
    flex-direction: column;
  }
  .left-upside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .left-foot .left-upside svg path{
    width: 50px;
    height: 100px;
    
    
  
  }
  .left-foot .left-upside svg  {
    width: 150px;
    height: 150px;
    
    
  }
  .left-foot h3{
    color: #ffffff;
    font-size: 40px;
   
  }

  .middle-foot a , .right-foot a{
   color: #66DDEE;
   text-decoration: none;
   font-size: 1.3rem;
   padding-bottom: 1.5rem;

  }
  .middle-foot h3 , .right-foot h3{
    color: #ffff;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .bottom-footer{
    border-top: .8px solid #adf4ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
   
    
  }
  footer .bottom-footer h2{
    color: #ffff;
    font-size: 20px;
    padding: 1rem;


  }
  footer .bottom-footer p{
    color: #dfdcdc;
    font-size: 1rem;
    padding: 2rem;
   

  }
